<h1>Create Your Own Pizza</h1>

<%= render partial: 'layouts/errors', locals: {object: @pizza} %>

<%= form_with model: @pizza do |f| %>
    <%= render partial: 'form', locals: {pizza: f} %>
    <br>
    <br>
    <%= f.submit 'Create Pizza' %>
<% end %>