<h1>Edit Order!</h1>

<%= render partial: 'layouts/errors', locals: {object: @order} %>

<%= form_with model: @order do |f| %>
    <%= render partial: 'form', locals: {order: f} %>
    <br>
    <%= f.submit 'Submit Edit', class: 'button is-dark is-outlined has-text-weight-bold' %>
<% end %>
<br>