<h1>MOD Pizza Online Ordering</h1>

<%= flash[:user_not_found] %>

<h2>About Us:</h2>
    <p>MOD Pizza is a fast casual pizza restaurant chain based in the United States. In 2008 MOD opened its first doors in Seattle, Washington and now MOD has more than 460 locations, majority in the United States and some in the United Kingdom.</p>
    <br>
    <p>MOD was the first chain company to create an affordble, superfast pizza experience.  The people have to choice to decide on what size personal pizza as well as choosing a classic pizza or creating their own with unlimited toppings for the same price.  All MOD Pizzas are Artisan-style pizzas, made on demand, and cooked within minutes.</p> 
    <br>
    <p>MOD uses pizza service as a base for doing good the right thing. We take care of our employees, they’ll take care of you, and the business takes care of itself. It's not about the pizza really, it about bringing people togther and giving others a second chance. Spread MODness!</p>
