<h1 class='has-text-light'>All reviews for <%= @pizza.name %> pizza:</h1>

<%= link_to 'Tap To Review This Pizza', new_pizza_review_path(@pizza), class: 'button is-warning is-outlined has-text-weight-bold' %> 

<%= render partial: 'iteration' %>